* {
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

body {
    background-color: #fee9f6;
    margin: 0;
}

#content {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height: 100vh;
    padding: 0 20%;
}

canvas {
    touch-action: none;
}